<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper>
    <insert id="selectCart" parameterType="String">
        INSERT INTO user_shopping_cart (user_id, product_option_id, product_count, product_YN)
        VALUES (#{userId}, #{productOptionId}, #{productCount}, #{productYN})
    </insert>

</mapper>